# 1.SORTING THE ARRAY WITH IMPLEMENTATION OF NUMPYy

In [11]:
import numpy as np
a= np.array([12,4,56,7,29,10])
import numpy as np 
print("Original array:",a)
a.sort()
print("sorted array:",a)

Original array: [12  4 56  7 29 10]
sorted array: [ 4  7 10 12 29 56]

# 2.DATAFRAMES WITH IMPLEMENTATION OF PANDAS

In [16]:
import pandas as pd
d={'stdid':[101,102,103,104] ,'std_name':['a','b','c','d'],'subjects':['x','y','z','o']}
df= pd.DataFrame(d)
print(df)

   stdid std_name subjects
0    101        a        x
1    102        b        y
2    103        c        z
3    104        d        o

In [18]:
import pandas as pd
d= {'Name':['Alice','Bob','Charlie','David'] ,'Age':[24,27,22,32],'Department':['HR', 'Finance','IT','Marketing'],'Salary':[50000,60000,55000,65000]}
df= pd.DataFrame(d)
print(df)

      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   27    Finance   60000
2  Charlie   22         IT   55000
3    David   32  Marketing   65000

In [20]:
import pandas as pd
d={'Department':['HR', 'Finance','IT','Marketing'],'Age':[24,27,22,32]}
df= pd.DataFrame(d)
print(df)
print(df.loc[0])
print(df.loc[0:2])
print(df['Age'])
print(df['Department'])
df.info()
df.describe()

  Department  Age
0         HR   24
1    Finance   27
2         IT   22
3  Marketing   32
Department    HR
Age           24
Name: 0, dtype: object
  Department  Age
0         HR   24
1    Finance   27
2         IT   22
0    24
1    27
2    22
3    32
Name: Age, dtype: int64
0           HR
1      Finance
2           IT
3    Marketing
Name: Department, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Department  4 non-null      object
 1   Age         4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

             Age
count   4.000000
mean   26.250000
std     4.349329
min    22.000000
25%    23.500000
50%    25.500000
75%    28.250000
max    32.000000

# 3.UNIFORM COST SEARCH

In [ ]:
#UNIFROM COST SEARCH
import heapq
def ucs(graph,start,goal):
    pq=[(0,start,[])]
    visited=set()
    while pq:
        cost, node,path=heapq.heappop(pq)
        if node is visited:
            continue
        path=path+[node]
        visited.add(node)
        if node==goal:
                return cost,path
        for neighbor,edge_cost in graph.get(node,[]):
         if neighbor not in  visited:
                        heapq.heappush(pq, (cost + edge_cost, neighbor, path))
    return float('inf'),[]
graph ={
     'A':[('B',4), ('C',3)],
     'B':[('F',5),('E',12)],
     'C':[('E',10),('D',7)],
     'D':[('E',2)],
     'E':[('Z',5)],
     'F':[('Z',16)]}
start_node = 'A'
goal_node = 'Z'
cost, path = ucs(graph,start_node,goal_node)
print(f"Least-cost path from {start_node} to {goal_node}:{path}")
print(f"Total Cost:{cost}")

# 4.A* SEARCH ALGORITHM

In [1]:
#A* SEARCH ALGORITHM
import heapq
 
class Node:
    def __init__(self, state, parent=None, cost=0, heuristic=0):
        self.state = state
        self.parent = parent
        self.g = cost
        self.h = heuristic
        self.f = self.g + self.h
    def __lt__(self, other):
        return self.f < other.f
def a_star(graph, start, goal, heuristic):
    open_list = []
    heapq.heappush(open_list, Node(start, None, 0, heuristic[start]))
    closed_list = set()
 
    while open_list:
        current_node = heapq.heappop(open_list)
 
        if current_node.state == goal:
            path = []
            total_cost = current_node.g
            while current_node:
                path.append(current_node.state)
                current_node = current_node.parent
            return path[::-1], total_cost
 
        closed_list.add(current_node.state)
 
        for neighbor, cost in graph[current_node.state].items():
            if neighbor in closed_list:
                continue
            g_cost = current_node.g + cost
            h_cost = heuristic[neighbor]
            neighbor_node = Node(neighbor, current_node, g_cost, h_cost)
            heapq.heappush(open_list, neighbor_node)
 
    return None, None
 
graph = {
    'A': {'B': 1, 'C': 4},
    'B': {'A': 1, 'D': 2, 'E': 5},
    'C': {'A': 4, 'F': 1},
    'D': {'B': 2, 'G': 2},
    'E': {'B': 5},
    'F': {'C': 1, 'G': 3},
    'G': {'D': 2, 'F': 3}
}
 
heuristic = {
    'A': 6, 'B': 4, 'C': 4, 'D': 3, 'E': 2, 'F': 2, 'G': 0
}
 
start = 'A'
goal = 'G'
path, total_cost = a_star(graph, start, goal, heuristic)
 
print(f'Least-cost path from {start} to {goal}: {path}')
print(f'Total cost: {total_cost}')

Least-cost path from A to G: ['A', 'B', 'D', 'G']
Total cost: 5

# 5.HILL CLIMBING

In [42]:
#HILL CLIMBING (MAXIMIZE FUNCTION)
import random
def example_function(x):
    """Maximize function f(x) = -x^2 + 4x"""
    return -x**2 + 4*x
def hill_climbing(function, initial_state, step_size=0.1, max_iterations=1000):
    """simple hill climbing algorithm"""
    current_state = initial_state
    current_value = function(current_state)
    for _ in range(max_iterations):
       next_state = current_state + random.uniform(-step_size, step_size)
       next_value = function(next_state)
       if next_value > current_value:
            current_state = next_state
            current_value = next_value
    return current_state, current_value
initial_state = random.uniform(-10, 10)
best_state, best_value = hill_climbing(example_function, initial_state)
print(f"Best state: {best_state}")
print(f"Best value: {best_value}")

Best state: 1.9999971145591757
Best value: 3.999999999991674